<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://HOSTNAME:9000</value>
    </property>
    <property>
        <name>io.file.buffer.size</name>
        <value>BUFFERSIZE</value>
    </property>
</configuration>
